@Html.Partial("Mypartial")

<h4>CONTACT</h4>

<div class="contact">
    <h5> <span id="contact">Email: </span> ericofori206@gmail.com</h5>
    <h5><span id="contact">Phone: </span> 669-241-4662</h5>
    <h5><span id="contact">Website: </span> <a href="www.ericofori.com">www.ericofori.com</a></h5>
    <h5><span id="contact">LinkedIn: </span> <a href="https://linkedIn.com/in/oforie">LinkedIn.com/in/oforie</a> </h5>
    <h5><span id="contact">Github: </span><a href="https://github.com/oforie">Github.com/oforie</a> </h5>
</div>

@Html.Partial("Footer")