@Html.Partial("Mypartial")

<h4>PROJECTS</h4>

<div class="projects">

    <ul>
        <li id="project">Ninja Gold (Python/Django, CSS3, HTML5, AWS):</li>
        <p>A web application created in python where based on a button selected, a “ninja” gains or loses an allocated amount of coins. Game ends when ninja run out of coins. Deployed on Amazon AWS (EC2).</p>
    </ul>

    <ul>
        <li id="project">Dojo Wall (C#, MySQL, CSS, HTML, AWS):</li>
        <p>A social network application where a anyone can register and post to a wall, see post from friends, and like posts with the user retaining the ability to delete their posts. Deployed the application on Amazon AWS (EC2).</p>
    </ul>

    <ul>
        <li id="project">1955 API (JavasScript, Mongoose, Mongodb):</li>
        <p>An app that retrieves JSON data from a specified application program interface</p>
    </ul>
</div>

@Html.Partial("Footer")