<html>

    <div class="footwrap">


         <div id="footer"></div>
         <div class="footercontent">
             <a href="">LinkedIn</a>
             <a href="">Git</a>
             <a href="">YouTube</a>
            <h6>Copyright &copy;2017. All rights reserved</h6>
         </div>
         

    </div>

   
</html>