<html>

<body>
    <div class="footwrap">


         <div id="footer"></div>
         <div class="footercontent">
             <a href="https://linkedin.com/in/oforie">LinkedIn</a>
             <a href="https://github.com/oforie">Github</a>
             <a href="">YouTube</a>
            <h6>Copyright &copy;2017. All rights reserved</h6>
         </div>
         

    </div>
</body>
   
</html>