@{
    ViewData["Title"] = "Home Page";
}
<html>
@Html.Partial("Mypartial")


    <head>
        <meta charset='utf-8'>
        <title>Index</title>
        <link rel="stylesheet" href="~/css/site.css"/>
        <img src="~/images/imagename.file/">
    </head>

    <body>
        <div class="wrapper">

            <div class="title">
                <div class="intro">
                    <div class="name">
                        <h1>Eric Ofori</h1>
                    <h3>Web Developer</h3>
                    </div>
                    
                    <img id="portrait" src="~/images/portrait.PNG" alt="Eric Ofori">
                </div> 
            </div>
            <hr>

            <div class="content">
                <div class="summary" id="about_me">
                    <h4>ABOUT ME</h4>
                    <p>Welcome to my page. A bit about me: I'm a web and software developer and an aspring technical product manager with a public health and healthcare background. Prior to fully immersing into the tech arena, I plied my trade with Qliance Medical Group as the technical EMR software trainer.</p>

                    <p>Programming and tech are areas I find incredibly fascinating - mostly due to the new realities these areas make possible - from AI to public health advancement in our global community.</p>

                    <p>I fundamentally believe that programming models life and expands on it to avenues never before imagined. It's for these reasons that I've fully embraced the challenges of programming along with it's immense rewards.</p> 

                    <p>My technical toolkit include:
                        <ul>
                            <li>C# & the .NetCore framework</li>
                            <li>JavaScript & the MEAN (MongodB, Express, Angular2 & Nodejs) framework</li>
                            <li>Python & the Django framework</li>
                            <li>Relational and Non-relational databases (MySQL, Postgressql)</li>
                            <li>AWS & Azure deployments</li>
                        </ul>
                        I enjoy creating interactivity between systems through APIs and learning about new technology.
                    </p>

                    <h4>EDUCATION</h4>
                    <ul>
                        <li id="schools">Web Developement:  Coding Dojo (Seattle, WA) - May 2017</li>
                        <p>Coding Dojo is one of the highest-rated coding bootcamps in the industry, and the only coding bootcamp in the world to teach three full technology stacks in a single 14-week program. During my time here, I worked through the Python, MEAN and C# stacks completing numerous projects. See<a href="home/project">projects</a>for some of the projects I worked on at Coding Dojo.</P>
                        <li id="schools"> BSc. Public Health: University of Washington (Seattle, WA) - June 2014</li>
                        <p>The University of Washington is a large, public flagship university in Seattle, Washington and has been consistently ranked amongst the top 15 universities in the world. At the UW, I completed an undergraduate degree. For my final thesis, I completed a research paper on The US Healthcare and Health Expenditure. </p>
                    </ul>

                    <h4>HOBBIES</h4>
                    <p>I've always felt that I've done my fair share of outdoor adventures having grown up in Ghana. I do however enjoy the original football (Soccer in the US). On a typical Saturday, I'm either watching, playing, refereeing or coaching soccer. I typically play at Kasch Park (Everett) and Arena Sports(MillCreek) for Indoor tournaments. If you are ever out there for soccer and need , reach out! </p>

                </div>
               
                    
                </div>
            </div>
        
    @Html.Partial("Footer")
        </div>
    </body>
    
        
       
</html>
