@{
    ViewData["Title"] = "Home Page";
}

<html>

    <head>
        <meta charset='utf-8'>
        <title>Index</title>
        <link rel="stylesheet" href="~/css/site.css"/>
        <img src="~/images/imagename.file/">
    </head>

    <body>
        <div class="wrapper">
            <div class="top">
                <h3 id="logos">EKO</h3>
                <div id="logos" class="icons">
                    <a href=""><img src="~/images/github.png" alt="Git"></a>
                    <a href=""><img src="~/images/linkedin.png" alt="LinkedIn"></a>
                    <a href=""><img src="~/images/behance.png" alt="Behance"></a>
                </div>
            </div>

            <div class="menu">
                <a href="" >Home</a>
                <a href="home/education" >Education</a>
                <a href="home/project" >Projects</a>
                <a href="home/contact" >Contact</a>
            </div>

            <div class="title">
                <h1>Eric Ofori</h1>
                <h4>Web Developer</h4>
                <img id="portrait" src="~/images/portrait.PNG" alt="Eric Ofori">
            
            </div>
            <hr>

            <div class="content">
                <div class="summary" id="about_me">
                    <h3>About Me</h3>
                    <p>Welcome to my page. A bit about me: I'm a web and software developer with a public health and healthcare background. Prior to fully immersing into the tech arena, I plied my trade with Qliance Medical Group as the technical EMR software trainer.</p>

                    <p>Programming and tech are areas I find incredibly fascinating - mostly due to the new realities these areas make possible - from AI to public health advancement in our global community.</p>

                    <p>I fundamentally believe that programming models life and expands on it to avenues never before imagined. It's for these reasons that I've fully embraced the challenges of programming along with it's immense rewards.</p> 

                    <p>My technical toolkit include:
                        <ul>
                            <li>C# & the .NetCore framework</li>
                            <li>JavaScript & the MEAN (MongodB, Express, Angular2 & Nodejs) framework</li>
                            <li>Python & the Django framework</li>
                            <li>Relational and Non-relational databases (MySQL, Postgressql)</li>
                            <li>AWS & Azure deployements</li>
                        </ul>
                        I enjoy creating interactivity between systems through APIs and learning about new technology.
                    </p>

                    <h3>Education</h3>
                    <ul>
                        <li>Web Developement:  Coding Dojo (Seattle, WA) - May 2017</li>
                        <p>A brief description of the school</P>
                        <li> BSc. Public Health: University of Washington (Seattle, WA) - June 2014</li>
                    </ul>

                </div>
               
                    
                </div>
            </div>
        </div>
        
    </body>
    
        
       
</html>
