
<html>

    <head>
        <meta charset='utf-8'>
        <title>Index</title>
        <link rel="stylesheet" href="~/css/site.css"/>
        <img src="~/images/imagename.file/">
    </head>

    <body>
        <div class="wrapper">
            <div class="top">
                <h3 id="logos">EKO</h3>
                <!-- <div id="logos" class="icons"> -->
                    <!-- <a href=""><img src="~/images/github.png" alt="Git"></a>
                    <a href=""><img src="~/images/linkedin.png" alt="LinkedIn"></a>
                    <a href=""><img src="~/images/behance.png" alt="Behance"></a> -->
                <!-- </div> -->
            </div>

            <div class="menu">
                <a href="/">Home</a>
                <a href="/project">Projects</a>
                <a href="/contact">Contact</a>
                <div class="line">
            </div>
        </div>
    </body>
</html>
