/*Write all of your CSS here*/


.wrapper {
    max-width: 960px;
    margin: auto;
    padding: 5px;
}

.top{
    border: 1px solid grey;
    padding: 10px;
    background-color:#191970;
    border-radius: 10px;
}

.top h3 {
    font-weight: bold;
    color: white;
}

#logos{
    display: inline-block;
    
}

.icons {
   margin-left: 80%;
   background-color: white;
   padding: 5px;
   
   border-radius: 10px;
}

.menu {
    margin: 5px;
}

.menu a {
    color: black;
    font-weight: bold;
    margin: 10px;
    padding: 10px;
}

.line {
    max-height: 2px;
    margin-top: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid #191970;
}


.title {
    margin: auto;
    /* max-width: 20%; */
    height: 300px;
    text-align: center;
    
}

.name {
    text-align: center;
}
.intro {
    margin: 15px 15px 15px 30px;
}
.intro img {
    margin: 15px;
}

.intro h5 {
    font-style: oblique;
    line-height: 140%;
    letter-spacing: 120%;
    
    
}

#portrait{
    border: 2px solid #191970;
    max-width: 145px;
    max-height: 145px;
    border-radius: 80px;
}

.summary {
    display: inline-block;

    border: 1px solid #191970;
    border-radius: 10px;
    margin: 15px;
    padding: 15px;
}

.content {
    margin-top: 40px;
}

 h4 {
    background-color: #191970;
    width: 250px;
    color: white;
    margin-left: 35%;
    border-radius: 5px;
    text-align: center;
    padding: 5px;
}

#schools {
    font-weight: bold;
}

#footer {
    border-bottom: 1px solid #191970;
    margin:20px;


}

.footercontent {
    text-align: center;
}

.footercontent a {
    margin: 5px;
}

.contact {
    margin-left: 5%;
    margin-top: 2px;
}

#contact {
    font-weight: bold;
}

#project {
    font-weight: bold;
}

.projects {
    margin-top: 15px;
}